<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Discovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Discovery </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/discover}"> Back to All Diseases</a>
            <form action="#" class="form-horizontal"
                  th:action="@{/discover/save/0}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Country Name</th>
                            <th>Disease Code</th>
                            <th>First Encountered Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : *{discoverList}">
                            <td><input th:placeholder="CountryName + ' ' + ${itemStat.count}" th:field="*{discoverList[__${itemStat.index}__].discoverId.cname}" required/></td>
                            <td><input th:placeholder="DiseaseCode + ' ' + ${itemStat.count}" th:field="*{discoverList[__${itemStat.index}__].discoverId.disease_code}" required/></td>
                            <td><input type="date" th:placeholder="FirstEncounteredDate + ' ' + ${itemStat.count}" th:field="*{discoverList[__${itemStat.index}__].first_enc_date}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>