<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Record</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Record </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/record}"> Back to All Records</a>
            <form action="#" class="form-horizontal"
                  th:action="@{/record/save/0}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Email </th>
                            <th> Country Name </th>
                            <th> Disease Code </th>
                            <th> Total Deaths </th>
                            <th> Total Patients </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : *{records}">
                            <td><input th:placeholder="Email + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].recordId.email}" required/></td>
                            <td><input th:placeholder="CountryName + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].recordId.cname}" required/></td>
                            <td><input th:placeholder="DiseaseCode + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].recordId.disease_code}" required/></td>
                            <td><input th:placeholder="TotalDeaths + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].total_deaths}" required/></td>
                            <td><input th:placeholder="TotalPatients + ' ' + ${itemStat.count}" th:field="*{records[__${itemStat.index}__].total_patients}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>