<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Specialize</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Add Specialize </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/specialize}"> Back to All Specializes</a>
            <form action="#" class="form-horizontal"
                  th:action="@{/specialize/save/0}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Disease Type Id </th>
                            <th> Email </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : *{specializeList}">
                            <td><input th:placeholder="Id + ' ' + ${itemStat.count}" th:field="*{specializeList[__${itemStat.index}__].id}" required/></td>
                            <td><input th:placeholder="Email + ' ' + ${itemStat.count}" th:field="*{specializeList[__${itemStat.index}__].email}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>