<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Country</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Country </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/country}"> Back to All Countries </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/country/save/1}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Population </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${form.countryList}">
                            <td><input th:placeholder="Name + ' ' + ${itemStat.count}" th:name="|countryList[${itemStat.index}].cname|" th:value="${item.getCname()}"readonly/></td>

                            <td><input th:placeholder="Population + ' ' + ${itemStat.count}" th:name="|countryList[${itemStat.index}].population|" th:value="${item.getPopulation()}"
                            /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>