<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Discover</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Discover </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/discover}"> Back to All Diseases </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/discover/save/1}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Country Name </th>
                            <th> Disease Code </th>
                            <th> First Encountered Date </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${form.discoverList}">
                            <td><input th:placeholder="CountryName + ' ' + ${itemStat.count}" th:name="|discoverList[${itemStat.index}].discoverId.cname|" th:value="${item.getDiscoverId().getCname()}"
                            readonly/></td>

                            <td><input th:placeholder="DiseaseCode + ' ' + ${itemStat.count}" th:name="|discoverList[${itemStat.index}].discoverId.discover_code|" th:value="${item.getDiscoverId().getDisease_code()}"readonly/></td>
                            <td><input th:placeholder="FirstEncounteredDate + ' ' + ${itemStat.count}" th:name="|discoverList[${itemStat.index}].first_enc_date|" th:value="${item.getFirst_enc_date()}"
                            /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>