<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Disease</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Disease </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/disease}"> Back to All Diseases </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/disease/save/1}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Disease Code </th>
                            <th> Pathogen </th>
                            <th> Description </th>
                            <th> Id </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${form.diseases}">
                            <td><input th:placeholder="DiseaseCode + ' ' + ${itemStat.count}" th:name="|diseases[${itemStat.index}].disease_code|" th:value="${item.getDisease_code()}"readonly/></td>

                            <td><input th:placeholder="Pathogen + ' ' + ${itemStat.count}" th:name="|diseases[${itemStat.index}].pathogen|" th:value="${item.getPathogen()}"
                            /></td>
                            <td><input th:placeholder="Description + ' ' + ${itemStat.count}" th:name="|diseases[${itemStat.index}].description|" th:value="${item.getDescription()}"
                            /></td>
                            <td><input th:placeholder="Id + ' ' + ${itemStat.count}" th:name="|diseases[${itemStat.index}].diseaseType.id|" th:value="${item.getDiseaseType().getId()}"
                            /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>