<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Disease Type</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Disease Type </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/diseasetype}"> Back to All Disease Types </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/diseasetype/save/1}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Id </th>
                            <th> Description </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book, itemStat : ${form.diseaseTypes}">
                            <td><span th:text="${book.getId()}"> Id </span></td>
                            <td><input th:placeholder="Description + ' ' + ${itemStat.count}" th:name="|diseaseTypes[${itemStat.index}].description|" th:value="${book.getDescription()}"
                                       /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>