<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Users</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1> Edit Users </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a class="btn btn-info" href="#" th:href="@{/users}"> Back to All Users </a>
      <form action="#" class="form-horizontal"
            th:action="@{/users/save/1}"
            th:object="${form}"
            method="post">
        <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
          <table class="table">
            <thead>
            <tr>
              <th> Email </th>
              <th> Name </th>
              <th> Surname </th>
              <th> Phone </th>
              <th> Salary </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, itemStat : ${form.users}">
              <td><input th:placeholder="Email + ' ' + ${itemStat.count}" th:name="|users[${itemStat.index}].email|" th:value="${item.getEmail()}"readonly/></td>
              <td><input th:placeholder="Name + ' ' + ${itemStat.count}" th:name="|users[${itemStat.index}].name|" th:value="${item.getName()}"/></td>
              <td><input th:placeholder="Surname + ' ' + ${itemStat.count}" th:name="|users[${itemStat.index}].surname|" th:value="${item.getSurname()}"/></td>
              <td><input th:placeholder="Phone + ' ' + ${itemStat.count}" th:name="|users[${itemStat.index}].phone|" th:value="${item.getPhone()}"/></td>
              <td><input th:placeholder="Salary + ' ' + ${itemStat.count}" th:name="|users[${itemStat.index}].salary|" th:value="${item.getSalary()}"/></td>
              /></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</body>
</html>