<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Disease Types</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Disease Types </h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Description </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${diseaseTypes.size() == 0}">
                        <td colspan="2"> No Books Available </td>
                    </tr>
                    <tr th:each="item : ${diseaseTypes}">
                        <td><span th:text="${item.getId()}"> Id </span></td>
                        <td><span th:text="${item.getDescription()}"> Description </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <a class="btn btn-success" href="#" th:href="@{/add/diseasetype}"> Add Disease Type </a>
                <a class="btn btn-primary" href="#" th:href="@{/edit/diseasetype}" th:classappend="${diseaseTypes.size() == 0} ? 'disabled' : ''"> Edit Disease Type </a>
            </div>
        </div>
</div>
</body>
</html>