<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Doctor </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Email </th>
                            <th> Degree </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${doctor.size() == 0}">
                            <td colspan="2"> No Doctor Available </td>
                        </tr>
                        <tr th:each="item : ${doctor}">
                            <td><span th:text="${item.getEmail()}"> Email </span></td>
                            <td><span th:text="${item.getDegree()}"> Degree </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" href="#" th:href="@{/add/doctor}"> Add Doctor </a>
                    <a class="btn btn-primary" href="#" th:href="@{/edit/doctor}" th:classappend="${doctor.size() == 0} ? 'disabled' : ''"> Edit Doctor </a>
                </div>
            </div>
        </div>
</body>
</html>